<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      自治会
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense" *ngIf="mobile_a">
    <ion-toolbar>
      <ion-title size="large">自治会</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-img style="width:100%" src="assets/img/jichikaikan_yoko.jpg" alt="" *ngIf="!mobile_a"></ion-img>
  <ion-img style="width:100%" src="assets/img/jichikaikan.jpg" alt="" *ngIf="mobile_a"></ion-img>
  <ion-card>
    <ion-card-header>
      <ion-card-title>新着</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item  button (click)="gotoKairan()">
          <ion-label>2023年02月01日回覧</ion-label>
        </ion-item>
        <ion-item>
          
          <a href="https://lin.ee/AJ1VESK">中丸自治会LINE：<img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="30" border="0"></a>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
