<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="kairan-list"></ion-back-button>
    </ion-buttons>   
    <ion-title>回覧版：{{count}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!mobile_a">
  <div *ngFor="let kr of kairans" class="image-card" #card style="text-align: center;">
    <img src="http://drive.google.com/uc?export=view&id={{kr.img_url}}" width="85%">
  </div>
</ion-content>
<ion-content *ngIf="mobile_a">
  <ion-card *ngFor="let kr of kairans" class="image-card" #card>
    <ion-slides class="image-slide" [options]="sliderZoomOpts" #zoomslides>
        <ion-slide>
            <div class="swiper-zoom-container" (click)="clickImg(card)">
              <img src="http://drive.google.com/uc?export=view&id={{kr.img_url}}">
            </div>
        </ion-slide>
    </ion-slides>
</ion-card>
</ion-content>

